# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/

# Environment Variables
.env
**/.env.local
.env.staging
**/.env.staging

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
dist/
build/
.notification-scanner.pid
